<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/canteen</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.test.entity.ManagerEntity"/>
      <mapping class="com.test.entity.AnnounceEntity"/>
      <mapping class="com.test.entity.AppointEntity"/>
      <mapping class="com.test.entity.CanteensEntity"/>
      <mapping class="com.test.entity.EvaluationEntity"/>
      <mapping class="com.test.entity.FoodEntity"/>
      <mapping class="com.test.entity.FoodtypeEntity"/>
      <mapping class="com.test.entity.PostEntity"/>
      <mapping class="com.test.entity.UserEntity"/>
      <mapping class="com.test.entity.ClassifyEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>