<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理系统</title>
    <!-- Essential styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          type="text/css"/>
    <link rel="stylesheet"
          th:href="@{/plugins/font-awesome/css/font-awesome.css}"
          type="text/css"/>

    <!-- Dlapak styles -->
    <link id="theme_style" type="text/css"
          th:href="@{/css/style1.css}"
          rel="stylesheet" media="screen"/>

    <!-- Assets -->
    <link rel="stylesheet"
          th:href="@{/plugins/owl-carousel/owl.carousel.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/owl-carousel/owl.theme.css}"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/bootstrap-table/bootstrap-table.js}"></script>
    <link th:href="@{/bootstrap-table/bootstrap-table.css}" rel="stylesheet" />
    <script th:src="@{/bootstrap-table/bootstrap-table-zh-CN.js}"></script>

    <style type="text/css">
        .sidebar {
            margin-left: 30px;
            margin-top: 20px;
            font-size: 20px;
            color: green;
        }

        html, body {
            height: 100%;
            width: 100%;
        }
        .sidebar-button{
            background-color: green;
            color: white;
            width: 90%;
            height: 40px;
            border-radius: 5px;
            font-size: 16px;
            outline: none;
        }
    </style>
</head>
<body>
<div style="position: absolute; height: 100%; width: 100%;">
    <div class="row" style="background-color: green; height: 150px;">
        <div class="col-md-6" style="margin-left: 100px; margin-top: 50px;">
            <span style="font-size: 50px; color: white;">后台管理系统</span>
        </div>

    </div>
    <div class="row" style="height: 100%; background: #D4D4D4;">
        <div class="col-md-2">
            <div class="sidebar">
                <a href="/manager/index">
                    <button class="sidebar-button"><i class="fa fa-caret-square-o-right"></i>&nbsp;&nbsp;菜品管理</button>
                </a>
            </div>
            <div class="sidebar">
                <a href="/manager/managerUser">
                    <button class="sidebar-button" >
                        <i class="fa fa-caret-square-o-right"></i>&nbsp;&nbsp;用户管理
                    </button>
                </a>
            </div>
            <div class="sidebar">
                <a href="#">
                    <button class="sidebar-button"><i class="fa fa-caret-square-o-right"></i>&nbsp;&nbsp;预定管理</button>
                </a>
            </div>
            <div class="sidebar">
                <a href="/manager/managerAnnounce">
                    <button class="sidebar-button"><i class="fa fa-caret-square-o-right"></i>&nbsp;&nbsp;公告管理</button>
                </a>
            </div>
            <div class="sidebar">
                <a href="/manager/managerHotType">
                    <button class="sidebar-button"><i class="fa fa-caret-square-o-right"></i>&nbsp;&nbsp;热门管理</button>
                </a>
            </div>
            <div class="sidebar">
                <a href="/manager/showECharts">
                    <button class="sidebar-button"><i class="fa fa-caret-square-o-right"></i>&nbsp;&nbsp;数据化视图</button>
                </a>
            </div>


        </div>




        <div class="col-md-10" style="height: 100%; background: #FAFAFA;">
            <div class="sidebar">查看预约</div>
            <div class="panel-body" style="padding-bottom:0px;">

                <table id="tb_departments"></table>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $(function () {

        console.log("init");
        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();

    });


    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable({
                url: '/manager/appointList',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: false,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                queryParams: oTableInit.queryParams,//传递参数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: false,                  //是否显示所有的列
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [{
                    checkbox: true
                },{
                    field: 'user.userNickName',
                    title: '用户名'
                },{
                    field: 'user.userAvatarUrl',
                    title: '头像',
                    formatter:function(value,row,index){
                        var s;
                        if(row.user.userAvatarUrl!=null){
                            var url = row.user.userAvatarUrl;
                            s = '<a class = "view" href="javascript:void(0)"><img style="width:40px;height:40px;" src="'+url+'" /></a>';
                        }
                        console.log(s);
                        return s;

                    }
                },{
                    field: 'food.foodName',
                    title: '菜名'
                },{
                    field: 'food.foodUrl',
                    title: '菜品',
                    formatter:function(value,row,index){
                        var s;
                        if(row.food.foodUrl!=null){
                            var url = row.food.foodUrl;
                            s = '<a class = "view" href="javascript:void(0)"><img style="width:40px;height:40px;" src="'+url+'" /></a>';
                        }
                        console.log(s);
                        return s;

                    }
                },{
                    field: 'appoint.appointTime',
                    title: '预约时间',
                    formatter:function(value,row,index){
                        var time = row.appoint.appointTime;
                        var s = (time.year+1900)+'-'+(time.month+1)+'-'+time.date+' '+time.hours+':'+time.minutes+':'+time.seconds;
                        return s;

                    }
                },

                ]
            });
        };
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            };
            return temp;
        };
        return oTableInit;
    };
    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            //初始化页面上面的按钮事件
        };

        return oInit;
    };


    /*]]>*/
</script>
</body>
</html>